:root {
  // colors
  --purple-color: #633cff;
  --purple-color-hover: #beadff;
  --light-purple-color: #efebff;
  --dark-grey-color: #333;
  --grey-color: #737373;
  --border-color: #d9d9d9;
  --light-grey-color: #fafafa;
  --white-color: #fff;
  --red-color: #ff3939;

  // transitions
  --tr-duration: 0.3s;

  // border-radius
  --radius-sm: 0.25rem; // 4px
  --radius-md: 0.5rem; // 8px
  --radius-lg: 0.75rem; // 12px
}
