.btn {
  --button-height: 2.875rem; // 46px

  @include typography($fs: 1rem, $fw: 600);
  @include flex($display: inline-flex, $wrap: nowrap, $justify: center, $align: center);

  cursor: pointer;

  position: relative;

  height: var(--button-height, 2.875rem); // 46px

  border-radius: var(--radius-md, 0.5rem);

  transition:
    color var(--tr-duration, 0.3s),
    background-color var(--tr-duration, 0.3s),
    border-color var(--tr-duration, 0.3s),
    box-shadow var(--tr-duration, 0.3s);

  &--block {
    width: 100%;
  }

  &--inline {
    width: auto;
  }

  &--primary {
    color: var(--white-color, #fff);
    background: var(--purple-color, #633cff);
    border: 1px solid var(--purple-color, #633cff);

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.25;
    }

    &:not([disabled]) {
      @include hover {
        background: var(--purple-color-hover, #beadff);
        border-color: var(--purple-color-hover, #beadff);
        box-shadow: 0 0 2rem 0 rgb(99 60 255 / 25%);
      }
    }
  }

  &--secondary {
    color: var(--purple-color, #633cff);
    background: var(--white-color, #fff);
    border: 1px solid var(--purple-color, #633cff);

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.25;
    }

    &:not([disabled]) {
      @include hover {
        background: var(--light-purple-color, #efebff);
        border: 1px solid var(--purple-color, #beadff);
      }
    }
  }

  &:active:not([disabled]) {
    top: 1px;
  }
}
